@mixin text($fontWeight, $fontSize, $lineHeight, $textColor: var(--color-dark-900)) {
  font: var(--font-family-primary);
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}
