@import 'src/styles/typography';

@mixin text($fontWeight, $fontSize, $lineHeight, $textColor: var(--color-dark-900)) {
  font: var(--font-family-primary);
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

.large {
  @include text(var(--font-weight-bold), var(--font-size-xxl), var(--line-height-l));
}

.h1 {
  @include text(var(--font-weight-bold), var(--font-size-xl), var(--line-height-l));
}

.h2 {
  @include text(var(--font-weight-bold), var(--font-size-l), var(--line-height-m));
}

.h3 {
  @include text(var(--font-weight-bold), var(--font-size-m), var(--line-height-m));
}

.body1 {
  @include text(var(--font-weight-regular), var(--font-size-m), var(--line-height-m));
}

.body2 {
  @include text(var(--font-weight-regular), var(--font-size-s), var(--line-height-m));
}

.subtitle1 {
  @include text(var(--font-weight-bold), var(--font-size-m), var(--line-height-m));
}

.subtitle2 {
  @include text(var(--font-weight-bold), var(--font-size-s), var(--line-height-m));
}

.caption {
  @include text(var(--font-weight-regular), var(--font-size-xs), var(--line-height-s));
}

.overline {
  @include text(var(--font-weight-bold), var(--font-size-xs), var(--line-height-s));
}

.link1 {
  @include text(
    var(--font-weight-regular),
    var(--font-size-s),
    var(--line-height-m),
    var(--color-info-500)
  );

  cursor: pointer;
  text-decoration: underline;
}

.link2 {
  @include text(
    var(--font-weight-regular),
    var(--font-size-xs),
    var(--line-height-s),
    var(--color-info-500)
  );

  cursor: pointer;
  text-decoration: underline;
}

.error {
  @include text(
    var(--font-weight-regular),
    var(--font-size-xs),
    var(--line-height-m),
    var(--color-danger-300)
  );
}
