.large {
  color: red;
}

.h1 {
  color: #0a6638;
}

.h2 {
  color: #1ea7fd;
}

.h3 {
  color: #8c61ff;
}

.body1 {
  color: #660a1d;
}

.body2 {
  color: #cc1439;
}

.subtitle1 {
  color: black;
}

.subtitle2 {
  color: darkblue;
}

.caption {
  color: aqua;
}

.overline {
  color: coral;
}

.link1 {
  color: #382766;
}

.link2 {
  color: darkkhaki;
}

.error {
  color: red;
}

.test {
  text-decoration: #234e99;
}
